body{
	font-family: Arial, Helvetica, sans-serif;
}
img{
	display:block;
}
header{
	width: 100%;
	height: 420px;
	background: url("../img/rest-bg.jpg") no-repeat center;
	background-size: cover;
	text-align: center;
}
header nav {
	max-width: 420px;
	margin: 0 auto;
	box-shadow: 0 0 0 5px #202020;
	background-color: #202020;
	padding: 5px 0;
	font-size: 20px;
	font-family: 'Libre Baskerville', serif;
	border: double;

}
header nav ul li{
	margin: 0 auto;
	display:inline-block;
	margin-left: 25px;
	margin-top:10px;
}
header nav ul li a{
	color: #FFFFFF;
	text-align: center;
	letter-spacing: .1em;
}
header nav ul li a:hover{
	color:#EF5656;
}
header nav ul li a.menu:after{
	content: "\f1db";
}
header img{
	display: block;
	padding: 20px;
	margin: 0 auto;
}
header h5{
	color: #FFFFFF;
	text-align: center;
	letter-spacing: .1em;
	font-family: 'Libre Baskerville', serif;
	font-size: 20px;
	padding-top: 20px;
}
header p{
	color: #FFFFFF;
	text-align: center;
	letter-spacing: .1em;
	font-family: 'Libre Baskerville', serif;
	font-size: 20px;
}
header p:before, header p:after{
	content: "";
	display: inline-block;
	width: 110px;
	height: 2px;
	color: #FFFFFF;
	margin: 0px 15px 5px 15px;
	background: #FFFFFF; 	
}
section{
	background-color: #202020;
	width: 100%;
}
section h1{
	padding-top: 50px;
	padding-bottom: 40px;
	margin: 0 auto;
	text-align: center;
	font-family: 'Libre Baskerville', serif;
	font-size: 45px;
	letter-spacing: .2em;
	color: #464545;
}
section h1:before{
	content: "";
	display: block;
	width: 100%;
	height: 3px;
	background: #464545;
	margin: 0 auto;
	margin-bottom: 15px;

}
section h1:after{
	content: "";
	display: block;
	width: 100%;
	height: 3px;
	background: #464545;
	margin: 0 auto;
	margin-top: 15px;
}

section h3{
	color:#EF5656;
	font-family: 'Libre Baskerville', serif;
	font-size: 35px;
	text-align: center;
	margin-left: 17%;
}
section ul li{
	max-width: 100%;
	margin-right: 70px;
}
section ul li h4{
	text-align: right;
	color: #FFFFFF;
	font-family: 'Libre Baskerville', serif;
}
section ul li h4 sup{
	margin-left: 50px;
	font-size: 19px;
}
section ul li p{
	text-align: right;
	font-family: 'Libre Baskerville', serif;
	font-size: 18px;
	font-style: italic;
	color: #5E5C5C;
	padding-bottom: 35px;
	margin-right: 100px;
}
section ul li p:after{
	content: "";
	display: block;
	width: 100%;
	height: 3px;
	background: #464545;
	margin: 0 auto;
	margin-top: 15px;
	margin-left: 70px;
}
section ul li h5{
	color: #FFFFFF;
	font-size: 20px;
	font-family: 'Libre Baskerville', serif;
	margin-left: 70px;
}
section ul li h6{

	color: #FFFFFF;
	font-size: 20px;
	font-family: 'Libre Baskerville', serif;
	padding-top: 20px;
	margin-left: 70px;
}
section ul li h7{
	color: #FFFFFF;
	font-family: 'Libre Baskerville', serif;
	margin-left: 5px;
	font-size: 15px;	
}
section ul li h7:after{
	content: "";
	display: block;
	width: 300px;
	height: 3px;
	background: #464545;
	margin: 0 auto;
	margin-top: 15px;
	margin-bottom: 20px;
	margin-top: 20px;
}
section img{
	width: 100%;
}
.tela{
	padding-bottom: 50px;
}
.login{
	height: 420px;
	background: url("../img/rest-bg.jpg") no-repeat center;
	background-size: cover;
	text-align: center;
}
.botao{
	font-size: 25px;
	font-family: 'Libre Baskerville', serif;
	color: #FFFFFF;
}
.form{
	background-color: #202020;
	padding-bottom: 30%;
}
.cadastro{
	width: 100%;
}
.form_titulo{
	text-align: center;
	font-size: 40px;
}
/*.form legend{
	text-align: center;
	font-size: 40px;
	padding-top: 20px;
	padding-bottom: 20px;
}*/
.titulo{
	margin: 0 auto;
	padding-top: 25px;
	text-align: left;
	margin-left: 70px;
}
/*.legenda{
	padding-top: 50px;
	padding-bottom: 40px;
	margin: 0 auto;
	text-align: center;
	font-family: 'Libre Baskerville', serif;
	font-size: 45px;
	letter-spacing: .2em;
	color: #464545;
}*/
/*.legenda:before, .legenda:after{
	content: "";
	display: block;
	width: 100%;
	height: 3px;
	background: #464545;
	margin: 0 auto;
	margin-bottom: 15px;
}*/
.user{
	padding-top: 100px;
}
footer{
	background: #141414;
	text-align: center;
	background-size: cover;
	width: 100%;
}
footer div{
	margin: 0 auto;
	padding: 5px 0;
	font-size: 20px;
	font-family: 'Libre Baskerville', serif;
}
footer div ul li{
	margin: 0 auto;
	display:inline-block;
	padding-top: 20px;
	margin-left: 25px;
}
footer div ul li a{
	color: #464545;
}
footer div ul li a:hover{
	color:#EF5656;
}
footer div ul li p{
	font-size: 15px;
	font-weight: bold;
}
.button_enviar{
	margin-left: 20px;
}
.contact{
	font-size: 25px;
	text-align: left;
	margin-left: 5px;
	padding-top: 25px;
	padding-bottom: 25px;
}
.end{
	padding-bottom: 310px;
}
a.button.direita{
	float: right;
}